<section class="border">
	<h2>ジャンル新規作成</h2>

	<%= form_for(@genre) do |f| %>
	<%= f.text_field :name %>
	<%= f.submit %>
	<% end %>
</section>




<table class="table mar" border="1" >
	<tr>
		<th>名前</th>
		<th>編集</th>
	</tr>
	<% @genres.each do |genre| %>
	<tr class="genre">
		<td><%= genre.name %></td>
		<td><%= link_to "編集", edit_genre_path(genre) %></td>
	</tr>
	<% end %>
</table>