<h2>Sign up </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
  <h4>name</h4>
    <%= f.label :name_first, '姓' %>
    <%= f.text_field :name_first %>
    <%= f.label :name_last, '名' %>
    <%= f.text_field :name_last %><br>

    <%= f.label :name_first_phonetic, 'セイ' %>
    <%= f.text_field :name_first_phonetic %>
    <%= f.label :name_last_phonetic, 'メイ'%>
    <%= f.text_field :name_last_phonetic %>
  </div>

  <div class="field">
    <%= f.label :post_code, '郵便番号'%>
    <%= f.text_field :post_code %>
  </div>

  <div class="field">
    <%= f.label :address, '住所'%><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :email, 'メールアドレス'%><br />
    <%= f.email_field :email %>
  </div>

　<div class="field">
    <%= f.label :phone, '電話番号' %><br />
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :password, 'パスワード' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'パスワード' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>



  <div class="actions">
    <%= f.submit "GO" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
