<h1>CD情報編集</h1>
<div class="container">
	<div class="row">
		<%= form_for(@item) do |f| %>
		<div class="col-md-12 text-center">
			<ul>
				<li>
					<p>ジャケット写真</p>
					<span>
						<%= attachment_image_tag @item, :image, format: 'jpeg', fallback: "no_image.jpg", size: "200x200"  %>
					</span>
					<span>
						<%= f.attachment_field :image %>
					</span>
				</li>
	    		<li>
	        		<p>アルバム名</p>
	        		<span>
	        			<%= @item.name %>
	        		</span>
	        		<span>
	        			<%= f.text_field :name, class: "form-control", placeholder: 'アルバム名を入力してください' %>
	        		</span>
	        	</li>
	        	<li>
					<p>アーティスト名</p>
					<span>
						<%= @item.artist.name %>
					</span>
					<span>
						<%= f.select :artist_id, Artist.all.map{|t| [t.name, t.id]}, :prompt => "選択してください" %>
					</span>
				</li>
				<li>
					<p>ジャンル</p>
					<span>
						<%= @item.genre.name%>
					</span>
					<span>
						<%= f.select :genre_id, Genre.all.map{|t| [t.name, t.id]}, :prompt => "選択してください" %>
					</span>
				</li>
				<li>
					<p>レーベル</p>
					<span>
						<%= @item.label.name %>
					</span>
					<span>
						<%= f.select :label_id, Label.all.map{|t| [t.name, t.id]}, :prompt => "選択してください" %>
					</span>
				</li>
				<li>
	        		<p>価格</p>
	        		<span>
	        			<%= @item.price %>円
	        		</span>
	        		<span>
	        			<%= f.text_field :price, class: "form-control", placeholder: '価格を入力してください' %>
	        		</span>
	        	</li>
	        	<li>
	        		<p>在庫数</p>
	        		<span>
	        			<%= @item.stack %>
	        		</span>
	        		<span>
	        			<%= f.text_field :stack, class: "form-control", placeholder: '在庫数を入力してください' %>
	        		</span>
	        	</li>
	        </ul>
	        <div class="row">
	        	<p class="col-md-6">
	        	<% @discs.each do |disc| %>
	        		<%= disc.name %><br>
	        		<% @songs.each do |song| %>
	        		<%= song.name %><br>
	        		<% end %>
	  <% end %>
	        	</p>
	  <p class="col-md-6">
	        	<%= f.fields_for :discs do |m| %>
	        		<%= m.text_field :name %><br>
	        		<%= m.fields_for :songs do |n| %>
	        		<%= n.text_field :name %>
	        		<% end %>
	  <% end %></p>
	</div>
	<ul>
	        	<li>
	        		<p>販売状況</p>
	        		<span>
	        			<%= @item.status %>
	        		</span>
	        		<span>
	        			<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary active">
								<input type="radio" name="sampleRadio" id="sampleRadio1" autocomplete="off" checked> 販売中
							</label>
							<label class="btn btn-primary">
								<input type="radio" name="sampleRadio" id="sampleRadio2" autocomplete="off"> 販売停止中
							</label>
						</div>
					</span>
	        	</li>
	        	<li>
	        		<%= f.submit 'OK', class: 'btn btn-primary btn-mg btn-block' %>
	        	</li>
			</ul>
		</div>
		<% end %>
	</div>
</div>



