<div class="container" style="margin-top:8em;">
	<div class="row">
		<div class="col-md-6">
			<div>
				<%= attachment_image_tag @item, :image, format: 'jpeg', fallback: "no_image.jpg", size: "450x450"  %>
			</div>
		</div>
		<div class="col-md-3">
	    	<ul>
	    		<li>
	        		アルバム
	        		<h4><%= @item.name %></h4><br>
	        	</li>
	        	<li>
					アーティスト
					<h4><%= @item.artist.name %></h4><br>
				</li>
				<li>
					ジャンル
					<h4><%= @item.genre.name%></h4><br>
				</li>
				<li>
					レーベル
					<h4><%= @item.label.name %></h4><br>
				</li>
				<li>
	        		価格
	        		<h4>¥<%= @item.price %></h4><br>
	        	</li>
	        	<li>
	        		在庫数
	        		<h4><%= @item.stack %></h4><br>
	        	</li>
	        	<li>
	        		現在
	        		<h4><%= @item.status %></h4><br>
	        	</li>
        	</ul>
        </div>
        <div class="col-md-3">
			<div>
				収録曲
				<% @discs.each do |disc| %>
				<h4><%= disc.name %></h4>
				<% disc.songs.each do |song| %>
				<h5><%= song.track %>.<%= song.name %></h5>
				<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row text-center">
	    <p><%= link_to "編集する", admins_itemEdit_path(@item), class: 'btn-flat-border1' %></p>
	  	<p><%= link_to "削除する" , item_path(@item), method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'btn-flat-border1' %></p>
	</div>
</div>








