<div class="container">
	<div class="row">
		<table class="box table">
			<thead>
            	<tr>
              		<th>購入日</th>
              		<th>購入者</th>
              		<th>合計金額</th>
              		<th>配送状況</th>
            	</tr>
          	</thead>
          	<tbody>
          		<% @orders.each do |order| %>
          		<tr>
					<td>
						<p style="font-size:20px"><%= link_to admins_orderShow_path(order.id) do %><%= order.created_at.strftime('%Y/%m/%d') %><% end %></p>
					</td>
					<td>
						<p style="font-size:20px"><%= order.name_last %><%= order.name_first %></p>
					</td>
					<td>
						<p style="font-size:20px"><%= order.total_price %></p>
					</td>
					<td>
						<p style="font-size:20px"><%= order.shipping_status %></p>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="row text-center">
		<%= paginate @orders %>
	</div>
</div>
