<h1>受注履歴詳細</h1>
<div class="container">
	<div class="row text-center">
		<p><%= @orderitem.user.name_last %><%= @orderitem.user.name_first %></p>
		<p><%= @orderitem.order.created_at %></p>
	</div>
	<div class="row text-center">
		<% @orderitems.each do |orderitem| %>
		<ul>
			<li>
				CD名
				<p><%= orderitem.item.name %></p>
			</li>
			<li>
				価格
				<p><%= orderitem.price %>円</p>
			</li>
			<li>
				枚数
				<p><%= orderitem.number %></p>
			</li>
			<li>
				配送先
				<p><%= orderitem.user.shipping_address.address %></p>
			</li>
			<li>
				発送状況
				<p><%= orderitem.order.shipping_status %></p>
			</li>
		</ul>
		<% end %>
	</div>
</div>