<div class="container">
	<div class="row">
		<table class="box table">
			<thead>
				<tr class="row">
					<th class="col-md-2">名前</th>
					<th class="col-md-2">電話番号</th>
					<th class="col-md-2">郵便番号</th>
              		<th class="col-md-6">住所</th>
            	</tr>
            </thead>
            <tbody>
            	<% @shipping_addresses.each do |shipping_addresses| %>
            	<tr>
            		<td></td>
					<td>
						<p style="font-size:20px"><%= shipping_addresses.name_last + shipping_addresses.name_first %></p>
					</td>
            		<td>
						<p style="font-size:20px"><%= shipping_addresses.phone %></p>
					</td>
					<td>
						<p style="font-size:20px"><%= shipping_addresses.post_code %></p>
					</td>
					<td>
						<p style="font-size:20px"><%= shipping_addresses.address %></p>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="row text-center">
		<%= paginate @shipping_addresses %>
	</div>
</div>
