<!-- 検索機能 -->
<h1>ユーザ一覧</h1>
<div class="container">
	<div class="row">
		<table class="table table-hover table-inverse">
			<thead>
            	<tr>
              		<th>名前</th>
              		<th>電話番号</th>
              		<th>住所</th>
            	</tr>
          	</thead>
          	<tbody>
          		<% @users.each do |user| %>
          		<tr>
					<td>
						<%= link_to admins_userShow_path(user.id) do %>
						<p><%= user.name_last %><%= user.name_first %></p>
						<% end %>
					</td>
					<td>
						<p><%= user.phone %></p>
					</td>
					<td>
						<p><%= user.address %></p>
					</td>
				</tr>
				<% end %>
			</tbody>
        </table>
	</div>
</div>
<%= paginate @users %>