<div class="container">
	<div class="row text-center">
		<%= search_form_for(@t, as: :t, url:admins_userIndex_path) do |t| %>
		<span><%= t.search_field :name_first_or_name_last_or_name_first_phonetic_or_name_last_phonetic_cont %></span>
		<span><%= t.submit 'ユーザー検索' %></span>
		<% end %>
	</div>

	<div class="row">
		<table class="box table">
			<thead>
            	<tr>
              		<th>名前</th>
              		<th>電話番号</th>
              		<th>住所</th>
            	</tr>
          	</thead>
          	<tbody>
          		<% @users.each do |user| %>
          		<tr>
					<td>
						<%= link_to admins_userShow_path(user.id) do %>
						<p  style="font-size:20px"><%= user.name_first %><%= user.name_last %></p>
						<% end %>
					</td>
					<td>
						<p style="font-size:20px"><%= user.phone %></p>
					</td>
					<td>
						<p style="font-size:20px"><%= user.address %></p>
					</td>
				</tr>
				<% end %>
			</tbody>
        </table>
	</div>
	<div class="row text-center">
		<%= paginate @users %>
	</div>
</div>