<h1>ユーザ詳細</h1>
<div  class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
    	  	<table class="table">
    	  		<thead>
	    	  		<tr>
	    	  			<th>姓</th>
				  		<th><%= @user.name_first %></th>
				    	<th>名</th>
						<th><%= @user.name_last %></th>
					</tr>
					<tr>
						<th>郵便番号</th>
				  		<th><%= @user.post_code %></th>
					</tr>
					<tr>
						<th>住所</th>
				  		<th><%= @user.address %></th>
					</tr>
					<tr>
						<th>電話番号</th>
						<th><%= @user.phone %></th>
					</tr>
					<tr>
						<th>メールアドレス</th>
						<th><%= @user.email %></th>
					</tr>
		    	</thead>
		  	</table>
	  	</div>
	</div>
	<div class="row">
		<% @shipping_addresses.each do |shipping_addresses| %>
		<div>
	    	<div><%= shipping_addresses.name_last %></div>
	    	<div><%= shipping_addresses.name_first %></div>
	    	<div><%= shipping_addresses.name_last_phonetic %></div>
	    	<div><%= shipping_addresses.name_first_phonetic %></div>
	    	<div><%= shipping_addresses.post_code %></div>
	    	<div><%= shipping_addresses.address %></div>
	    	<div><%= shipping_addresses.phone %></div>
	    </div>
	    <% end %>
	</div>
	<div class="row">
		<% @orders.each do |order| %>
		<div>
	    	<div><%= order.created_at %></div>
			<div><%= order.total_price %></div>
			<div><%= order_item.number %></div>
		</div>
		<% end %>
	</div>
</div>
