<h1>ユーザ詳細</h1>
<div  class="container">
	<div class="row">
		<h3 class="text-center">ユーザ情報</h3>
		<table class="table table-hover table-inverse text-center">
			<thead>
				<th></th>
				<th></th>
			</thead>
			<tbody>
				<tr>
					<td>
    					<p>名前</p>
    					<p>電話番号</p>
    					<p>メールアドレス</p>
    					<p>郵便番号</p>
    					<p>住所</p>
    				</td>
    				<td>
    					<p><%= @user.name_first %><%= @user.name_last %></p>
				  		<p><%= @user.post_code %></p>
				  		<p><%= @user.address %></p>
						<p><%= @user.phone %></p>
						<p><%= @user.email %></p>
					</td>
				</tr>
			</tbody>
		</table>
		<%= link_to "配送先一覧", admins_shipping_address_path, class: 'btn btn-primary btn-lg btn-block' %>
		<%= link_to "購入履歴一覧", admins_enduser_order_path, class: 'btn btn-primary btn-lg btn-block' %>
		<!-- 削除ボタン -->
	</div>
</div>
