<h1>ユーザー一覧</h1>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<ul>
				<% @user.name.each do |user| %>
				<li>
					<p><%= @user.name %></p>
					<%= link_to '詳細', user_path(@user) %>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul>
				<li>
					<!-- 検索フォーム -->
				</li>
				<% @user.name.each do |user| %>
				<li>
					<p><%= @user.name %></p>
					<%= link_to '詳細', user_path(@user) %>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul>
				<% @user.name.each do |user| %>
				<li>
					<p><%= @user.name %></p>
					<%= link_to '詳細', user_path(@user) %>
				</li>
			</ul>
		</div>

	<% @users.each do |user| %>

	<div class="row">
		<div class="col-md-4">
			<%= link_to 名前, user_path(@user) %>
		</div>
	</div>
	<div class="row">
		<p>ページング機能</p>
	</div>
</div>