<h1>ユーザー一覧</h1>
<!-- 検索フォーム -->
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<ul>
				<% @users.name.each do |user| %>
				<li>
					<p><%= @users.name %></p>
					<%= link_to '詳細', user_path(@users) %>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul>
				<li>
				</li>
				<% @users.name.each do |user| %>
				<li>
					<p><%= @users.name %></p>
					<%= link_to '詳細', user_path(@users) %>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul>
				<% @users.name.each do |user| %>
				<li>
					<p><%= @users.name %></p>
					<%= link_to '詳細', user_path(@users) %>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- ページング　-->