<h1>ユーザ一覧</h1>
<!-- 検索フォーム -->
<div class="container">
	<div class="row">
		<table class="table table-hover table-inverse">
			<thead>
            	<tr>
              		<th>名前</th>
              		<th>電話番号</th>
              		<th>住所</th>
            	</tr>
          	</thead>
          	<tbody>
          		<% @users.each do |user| %>
          		<tr>
					<td>
						<%= link_to admin_path(user.id) do %>
						<h1><%= user.name_last %><%= user.name_first %></h1>
						<% end %>
					</td>
					<td>
						<h1><%= user.phone %></h1>
					</td>
					<td>
						<h1><%= user.address %></h1>
					</td>
				</tr>
				<% end %>
			</tbody>
        </table>
	</div>
</div>
<!-- ページング　-->