<section class="border">
	<h2>ジャンル新規作成</h2>

	<%= form_for(@label) do |f| %>
	<%= f.text_field :name %>
	<%= f.submit %>
	<% end %>
</section>




<table class="table">
	<% @labels.each do |label| %>
	<tr class="label"><%= label.name %></tr>
	<tr class="label"><%= link_to "編集", edit_label_path(label) %></tr>
	<% end %>
</table>