<section class="border">
	<h2>レーベル新規作成</h2>

	<%= form_for(@label) do |f| %>
	<%= f.text_field :name %>
	<%= f.submit %>
	<% end %>
</section>




<table class="table mar" border="1" >

	<tr>
		<th>名前</th>
		<th>編集</th>
	</tr>
	<% @labels.each do |label| %>
	<tr class="label">
		<td><%= label.name %></td>
		<td><%= link_to "編集", edit_label_path(label) %></td>
	</tr>
	<% end %>
</table>