<div class="container">
	<div class="top row">
		<div class="col-md-6">
	    <div>
		<%= link_to 'ユーザー情報編集', edit_user_path(@user.id),class: "btn btn-primary btn-lg btn-block active" %>
	    </div>
	     <div>
		<%= link_to '配送先追加',  new_user_shipping_address_path(@user.id), class: "btn btn-primary btn-lg btn-block active" %>
	    </div>
		<% if @shipping_address.empty? %>
        <% else %>
	        <div>
			<%= link_to '配送先編集', user_shipping_addresses_path(@user.id),class: "btn btn-primary btn-lg btn-block active" %>
		    </div>
        <% end %>
	    <div>
		<%= link_to '購入履歴', order_path, class: "btn btn-primary btn-lg btn-block active" %>
	    </div>
	    <div>
		<%= link_to "退会する", user_path(@user.id),  method: :delete, data: {confirm: "Are you sure you want to leave？"} %>
	    </div>
	</div>
    	<div class="well col-md-6">
    	  <table class="table">
    	  	<thead>
	    	  	<tr>
	    	  		<th>姓</th>
				  	<th><%= @user.name_first %></th>
				    <th>名</th>
					<th><%= @user.name_last %></th>
				</tr>
				<tr>
					<th>郵便番号</th>
				  	<th><%= @user.post_code %></th>
				</tr>
				<tr>
					<th>住所</th>
				  	<th><%= @user.address %></th>
				</tr>
				<tr>
					<th>電話番号</th>
					<th><%= @user.phone %></th>
				</tr>
				<tr>
					<th>メールアドレス</th>
					<th><%= @user.email %></th>
				</tr>
		    </thead>
		  </table>
	  </div>
	</div>
</div>
