<div class="container">
    <div class="row">
	<%= link_to 'ユーザー情報編集', edit_user_path(user.id),class: "class=btn btn-default" %>
    </div>
	<div class="row1">
	<%= link_to '配送先編集', shipping_address_path(user.id),class: "btn btn-default" %>
    </div>
    <div class="row2">
	<%= link_to '購入履歴', order_path, class: "btn btn-default" %>
    </div>
    <div class="row3">
	<%= link_to '退会する', user_path delete: :method,class: "btn btn-default"     %>
    </div>
    <div class="user-info">
	  	<%= user.name_first %>
	  	<%= user.name_last %>
	  	<%= user.post_code %>
	  	<%= user.address %>
	  	<%= user.phone %>
	  	<%= user.email %>
    </div>
</div>
