<div class="container">
	<div class="row">
		<div class="col-md-2">
			<h3>お届け先選択</h3>
			<p class="text-center"><%= link_to '新しいお届け先',  new_user_shipping_address_path(@user.id) %></p>
			<%= form_for (@order) do |f| %>
			<% @shipping_addresses.each do |shipping_address| %>
			<div class="well">
				<ul>
					<li>
						名前
					</li>
					<li>
						<%= shipping_address.name_last_phonetic %>
						<%= f.hidden_field :name_last_phonetic, :value => shipping_address.name_last_phonetic %>
						<%= shipping_address.name_first_phonetic %>
						<%= f.hidden_field :name_first_phonetic, :value => shipping_address.name_first_phonetic %>
					</li>
					<li>
						<p><%= shipping_address.name_last %>
						<%= f.hidden_field :name_last, :value => shipping_address.name_last %>
						<%= shipping_address.name_first %>
						<%= f.hidden_field :name_first, :value => shipping_address.name_first %></p>
					</li>
					<li>
						電話番号
						<p><%= shipping_address.phone %>
						<%= f.hidden_field :phone, :value => shipping_address.phone %></p>
					</li>
					<li>
						<%= f.radio_button :address, shipping_address.address %>お届け先住所<br>
						〒<%= shipping_address.post_code %>
					</li>
					<li>
						<%= f.hidden_field :post_code, :value => shipping_address.post_code %>
						<%= shipping_address.address %>
					</li>
				</ul>
			</div>
			<% end %>
			<div>
				<h4>お支払い方法の選択</h4>
				<div class="top well">
					<label><%= f.select :payment, Order.payments.keys.to_a,{} %></label>
				</div>
			</div>
		</div>
		<h2 class="text-center">商品</h2>
		<% @cart_items.each do |cart_item| %>
		<%= f.fields_for :order_items do |t| %>
		<%= t.hidden_field :price, :value => cart_item.item.price %>
		<%= t.hidden_field :number, :value => cart_item.number %>
		<%= t.hidden_field :item_id, :value => cart_item.item_id %>
		<%= t.hidden_field :user_id, :value => cart_item.user_id %>
		<table class="well col-md-4 col-md-offset-1", border="3">
			<tr>
				<th colspan="2", class="text-center">
					<%= attachment_image_tag cart_item.item, :image, format: 'jpeg', fallback: "no_image.jpg",size: "100x100"%>
				</th>
			</tr>
			<tr>
				<th>アルバム名</th>
				<td><%= cart_item.item.name %></td>
			</tr>
			<tr>
				<th>1枚あたりの金額</th>
				<td><%= cart_item.item.price %>枚</td>
			</tr>
			<tr>
				<th>個数</th>
				<td><%= cart_item.number %>枚</td>
			</tr>
			<tr>
				<th>商品ごとの合計</th>
				<td>
					<span class="total" id="total_<%= cart_item.item.id %>" >
					<%= cart_item.item.price * cart_item.number %></span><span>円</span>
				</td>
			</tr>
		</table>
		<% end %>
		<% end %>
	</div>
	<div class="row">
		<div class="col-md-2">
			<table border="6" class="pricebox" style="font-size:20px">
				<tr>
					<th>小計：</th>
					<td><span class="subtotal"><%= @totalPrice %></span><span>円</span></td>
				</tr>
				<tr>
					<th>消費税：</th>
					<td><span class="totaltax"></span><span>円</span></td>
				</tr>
				<tr>
					<th>送料：</th>
					<td><span class="carriage"></span><span>円</span></td>
				</tr>
				<tr>
					<th>合計：</th>
					<td><span class="ordertotal"></span><span>円</span></td>
				</tr>
			</table>
		</div>
		<div class="col-md-10 text-center">
			<p><%= f.submit "購入する", class: 'btn-flat-border1' %></p>
		</div>
		<% end %>
	</div>
</div>
