<h1>購入履歴詳細</h1>
<div class="well">
 	<%= @order.created_at %>購入
</div>
<div class="orders-datails">
<% @order_items.each do |order_item| %>
    <div class="well">
		<table>
            <tr>

            </tr>
            <tr>
		        <th>商品名</th>
		        <th><%= order_item.item.name %></th>
		    </tr>
		    <tr>
				<th>価格</th>
				<th><%= order_item.item.price %></th>
			</tr>
			<tr>
				購入個数</p>
				<%= order_item.number %>
			</tr>
			<tr>
				<th>送付先</th>
				<th><%= order_item.order.address %></th>
			</tr>
        </table>
    </div>
<% end %>
</div>
<%= paginate @order_items %>


