<h1>購入履歴詳細</h1>
	<div>検索フォーム</div>
	<btn>検索</btn>

     <div><%= order.created_at %>購入</div>


		 <% @orders.each do |order| %>

			 <div>
                    <%= attachment_image_tag book.user, :image,size: "100x100" %>
				    商品名<%= item.name %>
					価格<%= order_items.price %>
					購入個数<%= order_item.number %>
					在庫数表示<%= item.stack %>
					送付先<%= order.address %>
					ステータス<%= order.status %>
             </div>

		 <% end %>

				   <p><1.2.3.4.></p>
