　<h1>配送先の編集ページ<h1>


    <div>
       <h3>氏名</h3>
        <div><% @shipping_address.name_last %></div>
        <div><% @shipping_address.name_first %></div><br>
       <h3>フリガナ</h3>
        <div><% @shipping_address.name_last_phonetic %></div>
        <div><% @shipping_address.name_first_phonetic %></div><br>
       <h3>郵便番号</h3>
        <div><% @shipping_address.post_code %></div><br>
       <h3>住所1</h3>
        <div><% @shipping_address.address %></div><br>
       <h3>電話番号</h3>
        <div><% @shipping_address.phone %></div><br>

     </div>


    <%= form_for(shipping_address) do |f| %>



         ------><%= f.text_field :name_last  %>
         ------><%= f.text_field :name_first  %>
         ------><%= f.text_field :name_last_phonetic  %>
         ------><%= f.text_field :name_first_phonetic  %>
         ------><%= f.text_field :post_code  %>
         ------><%= f.text_field :address  %>
         ------><%= f.text_field :phone  %>

         <%= f.submit 'アップデート' %>

    <% end %>

