<h1>住所選択</h1>
         <% @shipping_addresses.each do |shipping_addresses| %>

      <ul>

	    <li><%= shipping_addresses.name_last %></li>
	    <li><%= shipping_addresses.name_first %></li>
	    <li><%= shipping_addresses.name_last_phonetic %></li>
	    <li><%= shipping_addresses.name_first_phonetic %></li>
	    <li><%= shipping_addresses.post_code %></li>
	    <li><%= shipping_addresses.address %></li>
	    <li><%= shipping_addresses.phone %></li>
	    <btn><%= link_to "この住所を使う", "#" %></btn>

	   </ul>

	 <% end %>
