<div class="container">
	<h1>住所選択</h1>
	<div class="row" >
         <% @shipping_addresses.each do |shipping_addresses| %>


      <table class="col-md-3", border="3">
      		<tr>
				<th>ふりがな</th>
			 	<td colspan="2"><%= shipping_addresses.name_last_phonetic + shipping_addresses.name_first_phonetic %></td>
			 </tr>
			 <tr>
				<th>氏名</th>
				<td colspan="2"><%= shipping_addresses.name_last + shipping_addresses.name_first %></td>
			 </tr>
			 <tr>
				<th>郵便番号</th>
			 	<td colspan="2"><%= shipping_addresses.post_code %></td>
			 </tr>
			 <tr>
				<th>住所</th>
	    		<td colspan="2"><%= shipping_addresses.address %></td>
			 </tr>
			 <tr>
				<th>電話番号</th>
			 	<td colspan="2"><%= shipping_addresses.phone %></td>
			 </tr>
			 <tr>
			 	<td colspan="3"><%= link_to "編集する", edit_user_shipping_address_path(user_id: shipping_addresses.user_id, id: shipping_addresses.id) %></td>
			 </tr>
	    </table>

	 <% end %>
	</div>
</div>
