<div class="container">
	<h1>住所選択</h1>
	<div class="row" >
         <% @shipping_addresses.each do |shipping_addresses| %>


      <ul class="col-md-4" border="2">

	    <li><%= shipping_addresses.name_last %></li>
	    <li><%= shipping_addresses.name_first %></li>
	    <li><%= shipping_addresses.name_last_phonetic %></li>
	    <li><%= shipping_addresses.name_first_phonetic %></li>
	    <li><%= shipping_addresses.post_code %></li>
	    <li><%= shipping_addresses.address %></li>
	    <li><%= shipping_addresses.phone %></li>
	    <btn><%= link_to "編集する", edit_user_shipping_address_path(user_id: shipping_addresses.user_id, id: shipping_addresses.id) %></btn>

	   </ul>

	 <% end %>
	</div>
</div>
