<h1>新しいお届け先<h1>
<%= form_for(shipping_address) do |f| %>


   <h3>氏名</h3>
     <%= f.text_field :name_last  %>
     <%= f.text_field :name_first  %>
   <h3>フリガナ</h3>
     <%= f.text_field :name_last_phonetic  %>
     <%= f.text_field :name_first_phonetic  %>
   <h3>郵便番号</h3>
     <%= f.text_field :post_code  %>
   <h3>住所1 :</h3>
     <%= f.text_field :address  %>
   <h3>電話番号</h3>
     <%= f.text_field :phone %>

     <%= f.submit 'この住所を使う' %>

<% end %>

