<div>
  <h1>新しいお届け先<h1>
  <%= form_for(@shipping_address) do |f| %>
  <table>
    <tr>
      <th>氏名</th>
      <td>
        <%= f.text_field :name_last  %>
        <%= f.text_field :name_first  %>
      </td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td>
        <%= f.text_field :name_last_phonetic  %>
        <%= f.text_field :name_first_phonetic  %>
      </td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= f.text_field :post_code  %></td>
    </tr>
    <tr>
      <th>住所1 :</th>
      <td><%= f.text_field :address  %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= f.text_field :phone %></td>
    </tr>
    <th><%= f.submit '新規作成' %></th>
  </table>
<% end %>
</h1>