<div class="container">
	<div class="row">
		<div class="col-md-8">
		  <h2>注文を確認・確定する</h2>
			<table>
				  <thead>
				  	<%= form_for (@order) do |f| %>
					  	<% @shipping_addresses.each do |shipping_address| %>
				  	      <div class="well">
						  	<tr>
						  	 <h3>名前</h3>
						  	  <tr>
					  	  		<%= shipping_address.name_last %>
							    <%= f.hidden_field :name_last, :value => shipping_address.name_last %>
							    <%= shipping_address.name_first %>
							    <%= f.hidden_field :name_first, :value => shipping_address.name_first %>
							  </tr>
							   <tr>
							    <%= shipping_address.name_last_phonetic %>
							    <%= f.hidden_field :name_last_phonetic, :value => shipping_address.name_last_phonetic %>
							    <%= shipping_address.name_first_phonetic %>
							    <%= f.hidden_field :name_first_phonetic, :value => shipping_address.name_first_phonetic %>
							   </tr>
						  	  </tr>
						  	  <tr>
							    <h3>お届け先住所</h3>
							    <%= f.radio_button :post_code, shipping_address.address %>
							    <%= shipping_address.post_code %>
							    <%= shipping_address.address %>
							    <%= f.hidden_field :address, :value => shipping_address.post_code %>
							  </tr>
							  <tr>
							    <h3>電話番号</h3>
							    <%= shipping_address.phone %>
							    <%= f.hidden_field :phone, :value => shipping_address.phone %>
							  </tr>
							  <% end %>
							 </tr>
						  </div>
				  </thead>
			</table>
			<%= paginate @shipping_addresses %>
		    <%= link_to '新しいお届け先', new_shipping_address_path %>
		</div>
	</div>
	<div class="">
	    <h2>お支払い方法の選択</h2>
	    <div class="top well">
	    	<label><%= f.select :payment, Order.payments.keys.to_a,{} %></label>


	    </div>
	</div>

	<div class="botom-well">
		<% @cart_items.each do |cart_item| %>
		<table>
		<tr>
		    <th><%= attachment_image_tag cart_item.item, :image, format: 'jpeg', fallback: "no_image.jpg",size: "100x100"%>
			<%= cart_item.item.name %></th>
			<th><%= cart_item.item.price %></th>
		</tr>
		<% end %>


	    </table>
	    <%= f.submit "購入する" %>
		<% end %>
	</div>

</div>


