<div class="container">
	<div class="row">
		<div class="col-md-8">
		  <h2>注文を確認・確定する</h2>
			<div class="well">
				<table>
				  <thead>
			      <tr>
				    <th><h3>氏名・フリガナ</h3>
				    <%= @user.name_first %>
				    <%= @user.name_last %>
				    <%= @user.name_first_phonetic %>
				    <%= @user.name_last_phonetic %></th>
				  </tr>
				  <tr>
				    <h3>郵便番号</h3>
				    <%= @user.post_code %>
				  </tr>
				  <tr>
				    <th><h3>お届け先住所</h3>
				    <%= @user.address %></th>
				  </tr>
				  <tr>
				    <th><h3>電話番号</h3>
				    <%= @user.phone %></th>
				  </tr>
				  </thead>
				</table>
		    </div>
		    <%= link_to '既存の住所を使用',class: "btn btn-primary" %>
		    <%= link_to '新しいお届け先', class: "btn btn-success" %>
		</div>
	</div>
	<div class="">
	    <h2>お支払い方法の選択</h2>
	    <div class="top well">
	    	<h5>代引</h5>
	    	<h5>銀行振込</h5>
	    	<h5>クレジットカード</h5>
	    </div>
	</div>
	<div class="botom well">
		<table>


		<table>
			<tr>
				<th></th>
				<th>商品名</th>
				<th>価格</th>
				<th>数量</th>
				<th>合計</th>

			</tr>
				<% @cart.line_items.each do |item| %>
				<tr>
					<td text-align:center;><img height="80" src="<%=h item.good.image_url %>"/></td>
					<td text-align:center;><font size="4"><%= item.good.title %></font></td>
					<td text-align:center;><font size="4"><%= (item.good.price).to_i %>円</font></td>
					<td text-align:center;><font size="4"><%= item.quantity %></font></td>
					<td text-align:center;><font size="4"><%= (item.total_price).to_i %>円</font></td>
				</tr>
				<% end %>

				<tr>
					<td colspan="5"><font size="5">総計：<%= (@cart.total_price).to_i %>円</font></td>
				</tr>

		</table>
		</tr>
		<% end %>
		</table>
	</div>

</div>


