<h1>CD新規登録</h1>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3" >
			<%= form_for(@item) do |f| %>
			<ul>
				<li>
					<p>タイトル</p>
					<%= f.text_field :name, class: "form-control", placeholder: 'タイトルを入力してください' %>
				</li>
				<li>
					<p>アーティスト</p>
					<%= f.select :artist_id, Artist.all.map{|t| [t.name, t.id]}, :prompt => "選択してください" %>
				</li>
				<li>
					<p>ジャンル</p>
					<%= f.select :genre_id, Genre.all.map{|t| [t.name, t.id]}, :prompt => "選択してください" %>
				</li>
				<li>
					<p>レーベル</p>
					<%= f.select :label_id, Label.all.map{|t| [t.name, t.id]}, :prompt => "選択してください" %>
				</li>
				<li>
					<p>価格</p>
					<%= f.text_field :price, class: "form-control", placeholder: '価格を入力してください' %>
				</li>
				<li>
					<p>在庫数</p>
					<%= f.text_field :stack, class: "form-control", placeholder: '在庫数を入力してください' %>
				</li>
				<li>
					<p>ジャケット写真</p>
					<%= f.attachment_field :image_id %>
				</li>
				<li>
					<p>ディスク</p>
					<div id="discs">
						<%= f.fields_for :discs do |disc| %>
						<%= render 'disc_fields', f: disc %>
						<% end %>
					</div>
					<div class="links">
						<%= link_to_add_association 'ディスクを追加', f, :discs %>
					</div>
				</li>
				<li>
					<p>ステータス</p>
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary active">
							<input type="radio" name="sampleRadio" id="sampleRadio1" autocomplete="off" checked> 販売中
						</label>
						<label class="btn btn-primary">
							<input type="radio" name="sampleRadio" id="sampleRadio2" autocomplete="off"> 販売停止中
						</label>
					</div>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-2 col-md-offset-5" >
					<%= f.submit class: "form-control" %>
			</div>
		</div>
		<% end %>
	</div>
</div>

