<h1>CD新規登録</h1>
<!-- 画像-->
<div  class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<%= form_for(@item) do |f| %>
			<ul>
				<li>
					<p>タイトル</p>
					<%= f.text_field :name %>
				</li>
				<li>
					<p>歌手</p>
					<%= f.text_field :artist.name %>
				</li>
				<li>
					<p>ジャンル</p>
					<%= f.text_field :genre.name %>
				</li>
				<li>
					<p>レーベル</p>
					<%= f.text_field :price %>
				</li>
				<li>
					<p>値段</p>
					<%= f.text_field :stack %>
				</li>
				<li>
				<%= form_for @project do |f| %>
				<div class="field">
					<%= f.label :name %>
					<br/>
					<%= f.text_field :name %>
				</div>
				<div class="field">
					<%= f.label :description %>
					<br/>
					<%= f.text_field :description %>
				</div>
				<h3>Tasks</h3>
				<div id="tasks">
					<%= f.fields_for :tasks do |task| %>
					<%= render 'task_fields', f: task %>
					<% end %>
					<div class="links">
						<%= link_to_add_association 'add task', f, :tasks %>
					</div>
				</div>
				<%= f.submit %>
				<% end %>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<p>ステータス</p>
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-primary active">
					<input type="radio" name="sampleRadio" id="sampleRadio1" autocomplete="off" checked> 販売中
				</label>
				<label class="btn btn-primary">
					<input type="radio" name="sampleRadio" id="sampleRadio2" autocomplete="off"> 販売停止中
				</label>
			</div>
		</div>
	</div>
</div>