<div class="container" style="margin-top:8em;">
	<div class="row">
		<div class="col-md-6 col-md-offset-3" >
			<%= form_for(@item) do |f| %>
			<ul>
				<li>
					アルバム名
					<p><%= f.text_field :name, class: "form-control", placeholder: 'アルバム名を入力してください' %></p>
				</li>
				<li>
					アーティスト名
					<p><%= f.select :artist_id, Artist.all.map{|t| [t.name, t.id]}, :prompt => "選択してください" %></p>
				</li>
				<li>
					ジャンル
					<p><%= f.select :genre_id, Genre.all.map{|t| [t.name, t.id]}, :prompt => "選択してください" %></p>
				</li>
				<li>
					レーベル
					<p><%= f.select :label_id, Label.all.map{|t| [t.name, t.id]}, :prompt => "選択してください" %></p>
				</li>
				<li>
					価格
					<p><%= f.text_field :price, class: "form-control", placeholder: '価格を入力してください' %></p>
				</li>
				<li>
					在庫数
					<p><%= f.text_field :stack, class: "form-control", placeholder: '在庫数を入力してください' %></p>
				</li>
				<li>
					ジャケット写真
					<p><%= f.attachment_field :image %></p>
				</li>
				<li>
					ステータス<br>
  					<p>
  						<%= f.radio_button :status, :"販売中" %> 販売中
  						<%= f.radio_button :status, :"販売停止中" %> 販売停止中
  					</p>
				</li>
				<li>
					<div id="discs">
						<%= f.fields_for :discs do |disc| %>
						<%= render 'disc_fields', f: disc %>
						<% end %>
					</div>
					<div class="links">
						<%= link_to_add_association 'ディスクを追加', f, :discs %>
					</div>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-2 col-md-offset-5" >
				<%= f.submit class: "btn-flat-border" %>
			</div>
		</div>
		<% end %>
	</div>
</div>


