<div class="container">
	<h1 class="well item-show-title">商品詳細</h1>

    <div>

			<div class="jakesya img-circle">
			  <%= attachment_image_tag @item, :image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100"  %>
		    </div>
	          <div class="name-rist">
				<div>アーティスト<%= @item.artist_id %></div><br>
				<div>レーベル<%= @item.label_id %></div><br>
				<div>ジャンル<%= @item.genre_id %></div><br>
				<div>アルバム名<%= @item.name %></div>
              </div>
	<!--  eachを二つ使いたい-->
				<div class="songs">
				        <% @discs.each do |disc| %>
				          <div><%= disc.name %></div>
				          <% disc.songs.each do |song| %>
				          	<div><%= song.name %></div>
				          <% end %>
				        <% end %>

				</div>

	<!-- ここまで    -->


				<div class="btn status">アルバム名<%= @item.status %></div>

				<div class="go-cart"><%= link_to "カートに入れる", carts_path %></div>


	</div>
</div>
