<!DOCTYPE html>
<html>
  <head>
    <title>Amason</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>

         <h1>Amason</h1>
            <div>
            <%= form_tag('/items',:method => 'get') do %>
               <%= text_field_tag :search %>
               <%= submit_tag '検索', :name => nil %>
            <% end %>
           </div>

            <% if user_signed_in? %>
              <!-- ログイン時 -->
            <ul class="nav navbar-nav">
             <button type="button" class="btn btn-light"><%= link_to current_user.name_last, user_path(current_user) %></button>
              <button type="button" class="btn btn-light">カート</button>
              <button type="button" class="btn btn-light"> <%= link_to "ログアウト", destroy_user_session_path, method: :delete %></button>
            </ul>


          <% else %>
            <!-- 未ログイン時 -->
            <ul class="nav navbar-nav">
              <button type="button" class="btn btn-light"><%= link_to "sign in", new_user_session_path %></button>
              <button type="button" class="btn btn-light"><%= link_to "sign up", new_user_registration_path %></button>


          <% end %>


        </header>

        <%= yield %>
  </body>
</html>
